.venv/
venv/
env/

__pycache__/
*.pyc
.ipynb_checkpoints/

.idea/
.DS_Store
Thumbs.db

catboost_info/
*.log
*.tmp
.env

*.json
*.parquet
*.cbm
*.pkl
*.joblib

data/patch_*/match_ids_patch_*.csv
data/patch_*/parser_log_patch_*.csv
models/
pictures/
test.ipynb

!reports/
!reports/ml/
!reports/ml/**
